<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.GzhMapper">

    <select id="getMerchantByCloudId" parameterType="java.lang.String" resultType="com.tencent.wxcloudrun.model.MerchantManage">
        SELECT * FROM merchant_manage WHERE cloud_id = #{cloudId}
    </select>

    <insert id="addMerchantManage" parameterType="java.lang.String">
        INSERT INTO merchant_manage (cloud_id) VALUES (#{cloudId})
    </insert>

    <select id="getProvince" resultType="com.tencent.wxcloudrun.model.Province">
        SELECT * FROM province
    </select>

    <select id="getCityByPid" parameterType="java.lang.Integer" resultType="com.tencent.wxcloudrun.model.City">
        SELECT * FROM city WHERE pid = #{pid}
    </select>

    <select id="getAreaByPid" parameterType="java.lang.Integer" resultType="com.tencent.wxcloudrun.model.Area">
        SELECT * FROM area WHERE pid = #{pid}
    </select>

    <insert id="createOrder" parameterType="com.tencent.wxcloudrun.model.Order">
        INSERT INTO order(cloud_id, name, spec, price, buy_num, order_no, order_price, promotion_code, create_time)
        VALUES(#{cloudId}, #{name}, #{spec}, #{price}, #{buyNum}, #{orderNo}, #{orderPrice}, #{promotionCode}, NOW())
    </insert>

    <insert id="addDeviceManage" parameterType="com.tencent.wxcloudrun.model.DeviceManage">
        INSERT INTO device_manage (cloud_id, sn_code, status)
        VALUES (#{cloudId}, #{snCode}, 1)
    </insert>

    <select id="getDeviceNumByCloudId" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT count(1) FROM device_manage WHERE cloud_id = #{cloudId}
    </select>

    <select id="getEmployeeNumByMerId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT count(1) FROM mer_emp_relation WHERE mer_id = #{merId}
    </select>

    <update id="updateMerchantInfo" parameterType="com.tencent.wxcloudrun.model.MerchantManage">
        UPDATE merchant_manage
        SET name = #{name}, link_person = #{linkPerson}, link_phone = #{linkPhone}, address = #{address},
            business_license = #{businessLicense}, place_image = #{placeImage}, face_score = #{faceScore}
        WHERE cloud_id = #{cloudId}
    </update>

    <select id="getEmployeeList" parameterType="java.lang.String" resultType="com.tencent.wxcloudrun.model.EmployeeManage">
        SELECT
            em.*
        FROM
            employee_manage em
        LEFT JOIN device_employee_relation der ON der.employee_id = em.id
        LEFT JOIN device_manage dm ON dm.id = der.device_id
        WHERE dm.cloud_id = #{cloudId}
    </select>

    <update id="closeEmpPunch">
        UPDATE employee_manage set is_punch = #{isPunch} WHERE id = #{id}
    </update>

    <update id="closeEmpInsure">
        UPDATE employee_manage set is_insure = #{isInsure} WHERE id = #{id}
    </update>

    <delete id="delMerEmpRelation">
        DELETE * from mer_emp_relation WHERE mer_id = #{merId} AND emp_id = #{empId}
    </delete>

    <select id="getDeviceList" parameterType="java.lang.String" resultType="com.tencent.wxcloudrun.model.DeviceManage">
        SELECT * FROM device_manage WHERE cloud_id = #{cloudId}
    </select>

    <update id="closeDevicePunch">
        UPDATE device_manage set is_punch = #{isPunch} WHERE id = #{id}
    </update>

    <update id="closeDeviceInsure">
        UPDATE device_manage set is_insure = #{isInsure} WHERE id = #{id}
    </update>
</mapper>
