<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.PublicMapper">

    <select id="getEmployeeById" parameterType="java.lang.Integer" resultType="com.tencent.wxcloudrun.dto.EmployeeVO">
        select id, face_url, name, id_card, phone, address from employee_manage where id = #{id}
    </select>
</mapper>
