<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.TerminalMapper">

    <select id="getDeviceBySnCode" parameterType="java.lang.String" resultType="com.tencent.wxcloudrun.model.DeviceManage">
        SELECT * FROM device_manage WHERE is_delete = 0 AND sn_code = #{snCode}
    </select>

    <select id="getMerchantByCloudId" parameterType="java.lang.String" resultType="com.tencent.wxcloudrun.model.MerchantManage">
        SELECT * FROM merchant_manage WHERE cloud_id = #{cloudId}
    </select>

    <select id="getEmployeeByFaceId" parameterType="java.lang.String" resultType="com.tencent.wxcloudrun.model.EmployeeManage">
        SELECT * FROM employee_manage WHERE id = #{faceId}
    </select>

    <insert id="addEmployeeManage" parameterType="com.tencent.wxcloudrun.model.EmployeeManage"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO employee_manage (face_url) VALUES (#{faceUrl})
    </insert>

    <insert id="addDeviceEmployee">
        INSERT INTO device_employee_relation (device_id, employee_id) VALUES (#{deviceId}, #{employeeId})
    </insert>

    <update id="updateEmployeeManage" parameterType="com.tencent.wxcloudrun.model.EmployeeManage">
        UPDATE employee_manage
        SET open_id = #{openId}, name = #{name}, id_card = #{idCard}, phone = #{phone}, job_code = #{jobCode}
        WHERE id = #{id}
    </update>
</mapper>
